button,
input {
	&:focus {
		outline: none;
	}
}

.header {
	padding: 20px;
	background: black;
	color: white;
	text-align: center;
	font-family: monospace;
}

footer {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.link {
		img {
			width: 28px;
		}
		a:nth-child(2) {
			padding: 0px 7px;
		}
	}
	@media (max-width: 600px) {
		flex-direction: column;
		.link {
			margin-bottom: 6px;
		}
	}
}

.content {
	min-height: calc(100vh - 192px);
}

.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 40px;
	grid-template-rows: 450px;
	justify-items: center;
	padding: 60px 5% 0px;
	.card {
		position: relative;
		height: 450px;
		min-width: 300px;
		-webkit-perspective: 200rem;
		perspective: 200rem;
		&__side {
			position: absolute;
			top: 0;
			left: 0;
			min-width: inherit;
			height: inherit;
			background-color: white;
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
			overflow: hidden;
			border-radius: 37px;
			border: 3px solid #a6d4a675;
			transition: all 0.8s ease;
			&--front {
				.card__img {
					height: 215px;
					width: 100%;
					object-fit: cover;
				}
			}
			&--back {
				transform: rotateY(180deg);
			}
			.card__action {
				display: flex;
				justify-content: space-around;
				position: absolute;
				width: 100%;
				bottom: 15px;
				img {
					width: 28px;
				}
			}
			.card__content {
				&--front {
					display: flex;
					flex-direction: column-reverse;
					padding: 15px 15px;
					height: calc(100% - 215px - 40px);
					h1 {
						flex: 1 0 40%;
						display: flex;
						justify-content: center;
						align-items: center;
						height: calc(100% - 60px);
					}
				}
				&--back {
					padding: 20px 20px 66px;
					height: 100%;
					position: relative;
					.overview {
						display: flex;
						align-items: center;
						height: 100%;
						p {
							margin-top: -16px;
							max-height: calc(100% - 33px);
							text-align: justify;
							font-size: 14px;
							overflow: hidden;
							text-overflow: clip;
							display: -webkit-box;
							-webkit-line-clamp: 15;
							-webkit-box-orient: vertical;
						}
					}
					.back-btn-action {
						position: absolute;
						bottom: 20px;
						display: flex;
						justify-content: space-evenly;
						width: calc(100% - 40px);
						button {
							min-width: 100px;
							border-radius: 18px;
							padding: 3px 11px;
							background-color: #c1eccc;
							font-size: 15px;
						}
					}
				}
			}
		}
		.card__menu {
			position: absolute;
			top: 192px;
			right: 10px;
			background-color: white;
			padding: 10px;
			border-radius: 50%;
			box-shadow: 0px 0px 3px 0px #00000085;
			img {
				width: 22px;
			}
		}
	}
	.flip-card {
		.card__side--front {
			transform: rotateY(-180deg);
		}
		.card__side--back {
			transform: rotateY(0deg);
		}
	}
}

.search-container {
	margin: 45px auto;
	text-align: center;
	input {
		border: 2px solid #48bb77;
		border-radius: 4px;
		padding: 6px 12px;
		width: 50%;
	}
}

$circle-size: 60px;
$circle-background: #d9d9d9;
$inset-size: 48px;
$inset-color: #fbfbfb;
$transition-length: 1s;

.progress-circle {
	margin: auto;
	width: $circle-size;
	height: $circle-size;

	background-color: $circle-background;
	border-radius: 50%;
	.progress-circle__slice,
	.progress-circle__fill {
		width: $circle-size;
		height: $circle-size;
		position: absolute;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		transition: transform $transition-length;
		border-radius: 50%;
	}
	.progress-circle__slice {
		clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
		.progress-circle__fill {
			clip: rect(0px, $circle-size/2, $circle-size, 0px);
		}
		.progress-circle__fill--green {
			background-image: linear-gradient(
				to left,
				#02674c,
				#00834f,
				#089e49,
				#3bba37,
				#6ad402
			);
		}
		.progress-circle__fill--yellow {
			background-image: linear-gradient(
				to right top,
				#d1ee09,
				#d8ec09,
				#dfea0a,
				#e5e70e,
				#ebe512
			);
		}
		.progress-circle__fill--red {
			background-image: linear-gradient(
				to left,
				#a40618,
				#af1d2a,
				#ba2e3c,
				#c33d4e,
				#cc4b5f
			);
		}
	}
	.progress-circle__overlay {
		width: $inset-size;
		height: $inset-size;
		position: absolute;
		margin-left: ($circle-size - $inset-size)/2;
		margin-top: ($circle-size - $inset-size)/2;
		background-color: $inset-color;
		border-radius: 50%;
		.progress {
			position: absolute;
			top: 27%;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	$i: 0;
	$increment: 180deg / 100;
	@while $i <= 100 {
		&[data-progress='#{$i}'] {
			.progress-circle__slice.full,
			.progress-circle__fill {
				transform: rotate($increment * $i);
			}
			.progress-circle__fill.progress-circle__bar {
				transform: rotate($increment * $i * 2);
			}
			$i: $i + 1;
		}
	}
}

.movie__header {
	position: relative;
	min-height: 550px;
	display: grid;
	grid-template-columns: 400px 1fr;
	padding: 40px 10%;
	background-image: radial-gradient(
		circle at 20% 50%,
		#48bb77f2 0%,
		rgba(68, 85, 101, 0.88) 100%
	);
	&::before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background-image: url(https://image.tmdb.org/t/p/w1400_and_h450_face/bOGkgRGdhrBYJSLpXaxhXVstddV.jpg);
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		z-index: -1;
		filter: opacity(100) grayscale(100%) contrast(130%);
	}
	&--poster {
		height: 450px;
		justify-self: center;
		box-shadow: 5px 5px 15px #00000045;
	}
	&--content {
		color: white;
		@media (max-width: 968px) {
			margin-top: 30px;
			justify-self: center;
			text-align: center;
		}
		.movie__action {
			margin: 30px 0;
			display: grid;
			grid-template-columns: repeat(auto-fit, 107px);
			align-items: center;
			justify-items: left;
			grid-gap: 10px;
			&--link {
				padding: 13px;
				border-radius: 50%;
				border: 3px solid;
				img {
					width: 28px;
					height: 28px;
				}
			}
			&--score {
				display: flex;
				align-items: center;
				.progress-circle {
					margin: initial;
					&__overlay {
						background-color: #438769;
					}
				}
				& > span {
					margin-left: 10px;
					width: 37px;
					font-size: 15px;
					line-height: 16px;
					text-align: left;
				}
			}
			@media (max-width: 968px) {
				justify-content: center;
			}
		}
		.crew-container {
			display: grid;
			grid-gap: 20px;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			.crew {
				line-height: 17px;
				& > h3 {
					font-weight: 600;
					font-size: 1rem;
				}
				& > span {
					font-size: 0.875rem;
				}
			}
		}
	}
	@media (max-width: 1023px) {
		padding-left: 5%;
		padding-right: 5%;
	}
	@media (max-width: 968px) {
		grid-template-columns: 1fr;
	}
}

.movie__content {
	display: grid;
	grid-template-columns: 30% 70%;
	margin-bottom: -4rem;
	&--side {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	@media (max-width: 896px) {
		grid-template-columns: none;
	}
}

.movie__sidebar {
	padding-left: 20px;
	background-color: #ccf7da;
	font-size: 17px;
	&--items {
		line-height: 20px;
		&:not(:last-of-type) {
			margin-bottom: 20px;
		}
		& > h3 {
			font-weight: 600;
		}
		& > span {
			font-size: 15px;
		}
		.genres {
			display: flex;
			flex-wrap: wrap;
			& > span {
				margin: 3px;
				padding: 3px 12px 5px;
				font-size: 15px;
				line-height: 17px;
				background-color: #4c8870;
				color: white;
				border-radius: 5px;
			}
		}
	}
}
